@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mokutanya</h1>
    <p>We are a japanese yakitori restaraunt located in Burlingame,CA. We have been open for more than 10 years, thats a tesitimant on our quality.</p>
      
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            1
        </div>
        <div class="col">
            skewer
        </div>
        <div class="col">
            ramen
        </div>
    </div>
</div>