@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mokutanya</h1>
    <p>We are a japanese yakitori restaraunt located in Burlingame,CA. We have been open for more than 10 years, thats a tesitimant on our quality.</p>
</div>
