@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @ViewData["Title"] - Mokutanya</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
 
<body>
    
    <style>
        .carousel-item {
            height: 600px;
            width:600px;
          background-color:black;
            color: white;
            position:inherit;
        }

        .pics {
            width: 200px;
            height: 150px;
        }

            .pics.active {
                border-style: solid;
                border-width: 5px;
            }

        img {
            float: right;
        }
        .carousel-inner {
            display: flex;
            flex-direction: row;
        }
        .container {
            position: center;
            bottom: 0;
            left: 0;
            right: 0;
            padding-bottom: 0px;
        }
        body{
            background-color:black;
        }
        h2{
            font-family:'Old English Text MT';
            color:white;
            font-size:24px;
        }
        p{
            color:white;
            font-size: 18px;
        }

        .carousel {
            width: auto;
            height: auto;
        }
        
    </style>
 
   
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
       
    <div class="carousel-inner">
        <div class="carousel-item active">
                <img src="/lib/Images/Moku/bottles.jpg" class="d-block w-400 img-fluid" alt="First slide">
        </div>
        <div class="carousel-item ">
                <img class="d-block w-700 img-fluid" src="/lib/Images/Moku/bottles2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item ">
                <img class="d-block w-400 img-fluid" src="/lib/Images/Moku/bottles3.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
                <img class="d-block w-400 img-fluid" src="/lib/Images/Moku/fronthouse.jpg" alt="Fourth slide">
        </div>
        <div class="carousel-item">
                <img class="d-block w-400" src="/lib/Images/Moku/frontinterior.jpg" alt="Fifth slide">
        </div>
        <div class="carousel-item">
                <img class="d-block w-400" src="/lib/Images/Moku/frontinterior2.jpg" alt="Sixth slide">
        </div>
        <div class="carousel-item">
                <img class="d-block w-400" src="/lib/Images/Moku/frontinterior3.jpg" alt="Seventh slide">
        </div>
    </div>
   
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<div>

</div>    
<section id="map"> <! -- Map -->
 <h2 class="border border-danger ">About Us</h2>
 <p>We are a Japanese Yakitori restaraunt running for over 10 years. We have a variety of skewers, tapas, ramens and sakes.</p>
 <p>Come visit us today!</p>
<iframe width="400" height="400" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJP8ZRyCV2j4ARfqQbhMi2gHE&key=AIzaSyCJoOhPj1XUq7wGCE30M6x1q5XUYh_Of08"></iframe>
</section>
</body>