@{
    ViewData["Title"] = "Menu";
}
<h1>@ViewData["Title"]</h1>
<style>
h1{
    font-family:'Old English Text MT';
    font-size: 12pt;
}
table{
    border:1px solid;
    border-collapse: collapse;
    background-color: #fff;
        border-color: black;
}
    table th{
        background-color: #b8DBfd;
        color: black;
        font-weight: bold;}

        table th, table td{
            padding: 5px;
            border: 2px solid;
            border-color:black;
        }
      
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to Mokutanya</h1>
    <p>We are a japanese yakitori restaraunt located in Burlingame,CA. We have been open for more than 10 years, thats a tesitimant on our quality.</p>
</div>
