@{
    ViewData["Title"] = "Menu";
}
<h1>@ViewData["Title"]</h1>
<style>
h1{
    font-family:'Old English Text MT';
    font-size: 12pt;
}
table{
    border:1px solid #ccc;
    border-collapse: collapse;
    background-color: #fff;
}
    table th{
        background-color: #b8DBfd;
        color: #333;
        font-weight: bold;}

        table th, table td{
            padding: 5px;
            border: 1px solid #ccc;
        }
        table th , table td{
            border: 0px solid #ccc;
        }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to Mokutanya</h1>
    <p>We are a japanese yakitori restaraunt located in Burlingame,CA. We have been open for more than 10 years, thats a tesitimant on our quality.</p>
</div>
