@model IEnumerable<MenuItems>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/MenuItems/style.css" type="text/css"/>

<div style="display:block">
    <style>
        h2{
            font-family: 'Old English Text MT';
            font-size: 40px;
        }
        table td{
            <height = 100%>
        }
        table th {
            background-color: #b8DBfd;
            color: #333;
            font-weight: bold;
            font-family:'Old English Text MT';
        }

        table th, table td {
            padding: 4px;
            border: 0px solid #ccc;
            border-color:black;
        }
        bg{
            <img src ="https://www.google.com/maps/uv?pb=!1s0x808f7625c851c63f%3A0x7180b6c8841ba47e!3m1!7e115!4s%2Fmaps%2Fplace%2Fmokutanya%2F%4037.5870391%2C-122.3632483%2C3a%2C75y%2C115.66h%2C90t%2Fdata%3D*213m4*211e1*213m2*211suNEdemcHi3OzDW5Tay5AZw*212e0*214m2*213m1*211s0x808f7625c851c63f%3A0x7180b6c8841ba47e%3Fsa%3DX!5smokutanya%20-%20Google%20Search!15sCgIgAQ&imagekey=!1e10!2sAF1QipP55a1fK8TLY2mjHiqjxbAOFgaE-ej51QpiiZIL&hl=en&sa=X&ved=2ahUKEwikpNnzyvn6AhUeFTQIHRkfDsQQpx96BAg8EAg"</>
        }
       
    </style>
</div>
<h2>Menu</h2>
<table class="table" cellpadding="0" cellspacing="0" border="1" width="100%">

    <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th>Seafood</th>
        <th>Has Gluten</th>
        <th>Picture</th>
    </tr>

            @foreach (var items in @Model)
            {
            <tr>
                <td>@items.ItemName</td>
                <td>$@items.Price</td>
                <td>@items.IsSeafood</td>
                <td>@items.HasGluten</td>
                <td><img src = @items.Picture height="150px" width="150px" class="rounded-circle"></td>
            </tr>
             }
    
</table>      


