@model IEnumerable<MenuItems>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/MenuItems/style.css" type="text/css"/>

<div style="display:block">
    <style>
        h2{
            font-family: 'Old English Text MT';
            font-size: 40px;
        }
        table td{
            <height = 100%>
        }
        table th {
            background-color: #b8DBfd;
            color: #333;
            font-weight: bold;
            font-family:'Old English Text MT';
        }

        table th, table td {
            padding: 4px;
            border: 0px solid #ccc;
            border-color:black;
        }

       
    </style>
</div>
<h2>Menu</h2>
<table class="table" cellpadding="0" cellspacing="0" border="1" width="100%">

    <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th>Seafood</th>
        <th>Has Gluten</th>
        <th>Picture</th>
    </tr>

            @foreach (var items in @Model)
            {
            <tr>
                <td>@items.ItemName</td>
                <td>$@items.Price</td>
                <td>@items.IsSeafood</td>
                <td>@items.HasGluten</td>
                <td><img src = @items.Picture height="150px" width="150px"></td>
            </tr>
             }
    
</table>      


