@model IEnumerable<MenuItems>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/MenuItems/style.css" type="text/css"/>

<div style="display:block">
    <style>
        table th {
            background-color: #b8DBfd;
            color: #333;
            font-weight: bold;
        }

        table th, table td {
            padding: 5px;
            border: 1px solid #ccc;
        }

        table th, table td {
            border: 0px solid #ccc;
        }

    </style>
</div>
<h2>Menu</h2>
<table class="table" cellpadding="0" cellspacing="0">

    <tr>
        
        <th>Item Name</th>
        <th>Price</th>
        <th>Seafood</th>
        <th>Has Gluten</th>
        <th>Picture</th>
    </tr>

            @foreach (var items in @Model)
            {
            <tr>
                <td>@items.ItemName</td>
                <td>@items.Price</td>
                <td>@items.IsSeafood</td>
                <td>@items.HasGluten</td>
                <td><img src="~/lib/Images/spicymomo.jpg" width="30px"; height="30px"></td>
            </tr>
             }
    
</table>      


