@model IEnumerable<MenuItems>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/MenuItems/style.css" type="text/css"/>


<body>
<div style="display:block">
    <style>
        h2{
            font-family: 'Old English Text MT';
            font-size: 60px;
            color:white;
        }
        table td{
            color:white;
            font-size:14px;
        }
        table th {
            background-color: #b8DBfd;
            color: white;
            font-family:'Old English Text MT';
            font-size:26px;
           
        }
        table th, table td {
            padding: 4px;
            border: 0px solid #ccc;
                border-color: white;
                font-color: white;
        }
        
       body{
           background-color:black;
       }
    </style>
</div>
<h2>Menu</h2>
<table class="table" cellpadding="0" cellspacing="0" border="1" width="100%">

    <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th>Seafood</th>
        <th>Has Gluten</th>
        <th>Picture</th>
    </tr>

            @foreach (var items in @Model)
            {
            <tr>
                <td>@items.ItemName</td>
                <td>$@items.Price</td>
                <td>@items.IsSeafood</td>
                <td>@items.HasGluten</td>
                <td><img src = @items.Picture height="150px" width="150px" class="rounded-circle"></td>
            </tr>
             }
    
</table>


</body>